<!DOCTYPE html>
<html lang="tr">

    <%- include("./partials/head")  %>

<body>
    <!-- ======= Header ======= -->
    <%- include("./partials/header")  %>
    <!-- End Header -->
    <!-- End Header -->
<!-- class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center ">
        <div class="container">
            <div class="row gy-4 d-flex justify-content-center">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h2 data-aos="fade-up">Merhaba <%= user.adSoyad %></h2>  
                    <p data-aos="fade-up" data-aos-delay="100"></p>
                    
                    <form method="post">
                        <label class="text-white form-label">Dönüştürmek İstediğiniz Url:</label>
                        <input name="url" type="url" class="form-control border border-2 form-control rounded-pill" aria-describedby="url"
                            placeholder="Url Giriniz">
                        <label class="text-white">İstediğiniz Takma Url İsmi:</label>
                        <input name="changeUrl" type="url" class="border border-2 form-control rounded-pill" aria-describedby="url"
                                placeholder="Url Giriniz">
                        <label class="text-white">Geçerlilik Süresi:</label>
                            <select style="border: none;" aria-label="Default select example"
                                class=" form-control rounded-pill ">
                                <option>Seçiniz</option>
                                <option value="1">Bir Saat</option>
                                <option value="2">Bir Gün</option>
                                <option value="3">Bir Hafta</option>
                                <option value="4">Bir Ay</option>
                                <option value="4">Bir Yıl</option>
                            </select>
                        <button type="submit" class="btn btn-info">Dönüştür</button>
                    </form>
    
                    <!-- </div>
                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                        <img src="../../public/img/globe.png" class="img-fluid mb-3 mb-lg-0" alt="">
                      </div> -->
    
    
                </div>
            </div>
    </section><!-- End Hero Section -->

    <%- include("./partials/main")  %>

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer")  %>
    <!-- End Footer -->
    <!-- End Footer -->


    <%- include("./partials/script")  %>

</body>

</html>