<!DOCTYPE html>
<html lang="tr">

    <%- include("./partials/head")  %>

<body>
    <!-- ======= Header ======= -->
    <%- include("./partials/header")  %>
    <!-- End Header -->
    <!-- End Header -->
<!-- class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center ">
          <div class="container ">
              <div class="row gy-4 d-flex justify-content-center">
                  <div class="order-2 order-lg-1 d-flex flex-column justify-content-center">
                      <h2 class="text-center" data-aos="fade-up">Merhaba <%= user.adSoyad %> !</h2>  
                      <p data-aos="fade-up" data-aos-delay="100"></p>
                      <div class="container mt-4">
                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <div>
                              <h2 class="text-light text-center pt-3">Url Dönüştür</h2>    
                              <form method="post" class="mt-4">
                                <div class="form-group mb-2">
                                    <label for="url" class="text-white form-label">Dönüştürmek İstediğiniz Url:</label>
                                    <input id="fullUrl" name="fullUrl" type="url" placeholder="Url Giriniz" class="form-control border border-2 form-control rounded-pill" aria-describedby="url" placeholder="Url Giriniz">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="changeUrl" class="text-white form-label">İstediğiniz Takma Url İsmi:</label>
                                    <input id="changeUrl" name="changeUrl" type="url" class="border border-2 form-control rounded-pill" aria-describedby="url"
                                        placeholder="Url Giriniz">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="gecerlilik" class="text-white form-label">Geçerlilik Süresi:</label>
                                    <select id="gecerlilik" name="gecerlilik" style="border: none;" aria-label="Default select example" class=" form-control rounded-pill ">
                                        <option>Seçiniz</option>
                                        <option value="1">Bir Dakika</option>
                                        <option value="2">Bir Saat</option>
                                        <option value="3">Bir Gün</option>
                                        <option value="4">Bir Hafta</option>
                                        <option value="5">Bir Ay</option>
                                        <option value="6">Bir Yıl</option>
                                    </select>
                                </div>
                                <button
                                  class="bg-gray-600 rounded w-full text-white py-3 px-4 mt-5 hover:bg-black"
                                  type="submit">
                                  Oluştur
                                </button>
                              </form>
                            </div>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                        
                      </div>
                      <div class="container mt-4">
                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <h2 class="text-light text-center pt-3 mt-4">Qr Kod Oluştur</h2>
                            <form id="generate-form" class="mt-4">
                              <label for="url" class="text-white form-label">Dönüştürmek İstediğiniz Url:</label>
                              <input
                                id="url"
                                type="url"
                                placeholder="URL Giriniz"
                                class="form-control border border-2 form-control rounded-pill"
                                required
                              />
                              <button
                                class="bg-gray-600 rounded w-full text-white py-3 px-4 mt-5 hover:bg-black"
                                type="submit"
                              >
                                Qr Kod Oluştur
                              </button>


                              <div class="w-full md:w-1/3 self-center">
                                <img
                                  class="w-1/2 m-auto mb-10 md:w-full"
                                  src="img/qr-code.svg"
                                  alt=""
                                />
                              </div>

                              <div id="generated" class="max-w-5xl m-auto flex flex-col text-center align-center justify-center mt-20">
                                <!-- Spinner -->
                                <div id="spinner" role="status">
                                  <svg
                                    class="inline mr-2 w-24 h-24 text-gray-200 animate-spin dark:text-gray-600 fill-pink-600"
                                    viewBox="0 0 100 101"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                      fill="currentColor"
                                    />
                                    <path
                                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                      fill="currentFill"
                                    />
                                  </svg>
                                  <span class="sr-only">Loading...</span>
                                </div>

                                <div id="qrcode" class="m-auto"></div>
                              </div>
                            </form>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                      </div>
                      

                  </div>
              </div>
          </div>
    </section><!-- End Hero Section --><!-- End Hero Section -->

    <%- include("./partials/main")  %>

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer")  %>
    <!-- End Footer -->
    <!-- End Footer -->


    <%- include("./partials/script")  %>

</body>

</html>