<!DOCTYPE html>
<html lang="tr">

    <%- include("./partials/head")  %>

<body>
    <!-- ======= Header ======= -->
    <%- include("./partials/header")  %>
    <!-- End Header -->
    <!-- End Header -->
<!-- class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" -->
    <!-- ======= Hero Section ======= -->

  

    <%- include("./partials/main")  %>

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer")  %>
    <!-- End Footer -->
    <!-- End Footer -->


    <%- include("./partials/script")  %>

</body>

</html>