<!DOCTYPE html>
<html lang="tr">

    <%- include("./partials/head")  %>

<body>
    <!-- ======= Header ======= -->
    <%- include("./partials/header")  %>
    <!-- End Header -->
    <!-- End Header -->
<!-- class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center ">
          <div class="container ">
              <div class="row gy-4 d-flex justify-content-center">
                  <div class="order-2 order-lg-1 d-flex flex-column justify-content-center">
                      <h2 class="text-center" data-aos="fade-up">Merhaba <%= user.adSoyad %> !</h2>  
                      <p data-aos="fade-up" data-aos-delay="100"></p>
                      <div class="container mt-2">
                        <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <div>
                              <h2 class="text-light text-center">Url Dönüştür</h2>    
                              <form method="post" >
                                <div class="form-group mb-2">
                                    <label for="url" class="text-white form-label">Dönüştürmek İstediğiniz Url:</label>
                                    <input id="fullUrl" name="fullUrl" type="url" placeholder="Url Giriniz" class="form-control border border-2 form-control rounded-pill" aria-describedby="url" placeholder="Url Giriniz">
                                </div>

                                <div class="form-group mt-3">
                                    <label for="changeUrl" class="text-white form-label">Varsa İstediğiniz Takma Url İsmi:</label>
                                    <input id="changeUrl" name="verilenIsim" type="text" class="border border-2 form-control rounded-pill" aria-describedby="url"
                                        placeholder="İstediğiniz Takma İsimi Giriniz">
                                </div>

                                <div class="form-group mt-3">
                                  <label for="changeUrl" class="text-white form-label">Bitiş Tarihini Giriniz:</label>
                                  <input type="datetime-local" id="birthdaytime" name="bitisSaati" class="border border-2 form-control rounded-pill" aria-describedby="url" placeholder="Bitiş Tarihi">
                              </div>

                                <button
                                  class="bg-gray-600 rounded w-full text-white py-3 px-4 mt-5 hover:bg-black"
                                  type="submit">
                                  Oluştur
                                </button>
                                <% if (typeof message != "undefined") { %>
                                  <div class="text-center alert alert-<%= renk %> m-3">
                                   <%= message %> 
                                 </div>
                                <% } %>  
                              </form>
                            </div>
                          </div>
                          <div class="col-md-3"></div>
                        </div>
                        
                      </div>
                      

                  </div>
              </div>
          </div>
    </section><!-- End Hero Section --><!-- End Hero Section -->

    <%- include("./partials/main")  %>

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer")  %>
    <!-- End Footer -->
    <!-- End Footer -->


    <%- include("./partials/script")  %>

</body>

</html>